html,
body,
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

p,
a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

// Utilities
.section__h2 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  text-align: center;

  color: #00252e;

  @media screen and (min-width: 1200px) {
    font-size: 40px;
    line-height: 60px;

    text-align: left;
  }
}

.section__para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  color: #00252e;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 24px;

    text-align: left;

  }
}

.hide-m {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hide-d {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
