.first-section {
  position: relative;

  background: #f6fbff;

  margin-top: 119px;
  padding-top: 96px;
  padding-bottom: 71px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}

// top curve
.first-section__top-curve {
  position: absolute;
  bottom: 100%;
  width: 100%;
}

.first-section__top-curve img {
  width: 100%;
}

// section content
.first-section__img {
  display: block;

  max-width: 259px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin-left: 64px;
  }
}
.first-section__text {
  @media screen and (min-width: 768px) {
    margin-right: 64px;
  }
}

.first-section__h2 {
  margin-top: 74px;
}

.first-section__para {
  max-width: 320px;

  margin: 0 auto;
  margin-top: 16px;
}

// bottom curve
.first-section__bottom-curve {
  position: absolute;
  top: 100%;
  width: 100%;
}

.first-section__bottom-curve img {
  width: 100%;
}
