@import "functions";

footer {
  margin-top: 255px;
}

.footer__top-curve__img {
  width: 100%;
  max-width: unset;
}

.footer__row {
  padding: 70px 27px 46px 28px;

  background: #00252e;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 60px;

    padding: 90px 27px 76px 28px;
  }
}

.footer__row > * {
  @media screen and (min-width: 576px) {
    max-width: 75%;
  }

  @media screen and (min-width: 768px) {
    flex: 0 1 50%;
  }
}

// newsletter part
.footer__newsletter {
  @media screen and (min-width: 768px) {
    order: 2;
  }
}

.footer__newsletter__h2 {
  font-family: "Open Sans";
  font-weight: 700;

  font-size: pxToVwMobile(20);
  line-height: pxToVwMobile(30);

  color: #ffffff;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(20);
    line-height: pxToVwBetweenMobileAndTablet(30);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(22);
    line-height: pxToVwTablet(32);
  }
}

.footer__newsletter__para {
  margin-top: 16px;

  font-family: "Open Sans";
  font-weight: 600;

  font-size: pxToVwMobile(14);
  line-height: pxToVwMobile(24);

  color: #ffffff;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(14);
    line-height: pxToVwBetweenMobileAndTablet(24);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(16);
    line-height: pxToVwTablet(26);
  }
}

.footer__newsletter__form {
  margin-top: 32px;
}

.footer__newsletter__email-input {
  display: block;
  width: 100%;

  height: pxToVwMobile(48);
  border-radius: pxToVwMobile(6);

  background: #ffffff;

  border: none;

  padding: 0px 12px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: pxToVwMobile(14);
  line-height: pxToVwMobile(24);

  color: #00252e;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(14);
    line-height: pxToVwBetweenMobileAndTablet(24);
    height: pxToVwBetweenMobileAndTablet(48);
    border-radius: pxToVwBetweenMobileAndTablet(6);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(16);
    line-height: pxToVwTablet(26);

    height: pxToVwTablet(48);
    border-radius: pxToVwTablet(6);
  }
}

.footer__form__btn {
  display: block;
  margin-top: 16px;
  margin-left: auto;

  background: #ff52c1;

  border: none;

  font-family: "Open Sans";
  font-weight: 700;

  font-size: pxToVwMobile(16);
  line-height: pxToVwMobile(24);
  width: pxToVwMobile(160);
  height: pxToVwMobile(48);
  border-radius: pxToVwMobile(5);

  color: #ffffff;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(16);
    line-height: pxToVwBetweenMobileAndTablet(24);
    width: pxToVwBetweenMobileAndTablet(160);
    height: pxToVwBetweenMobileAndTablet(48);
    border-radius: pxToVwBetweenMobileAndTablet(5);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(16);
    line-height: pxToVwTablet(24);
    width: pxToVwTablet(160);
    height: pxToVwTablet(48);
    border-radius: pxToVwTablet(5);
  }
}

// info part
.footer__info {
  margin-top: 104px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.footer__logo__svg {
  display: block;
  width: pxToVwMobile(200);
  height: pxToVwMobile(32);

  @media screen and (min-width: 576px) {
    width: pxToVwBetweenMobileAndTablet(200);
    height: pxToVwBetweenMobileAndTablet(32);
  }

  @media screen and (min-width: 768px) {
    width: pxToVwTablet(200);
    height: pxToVwTablet(32);
  }
}

.footer__logo__svg path {
  fill: #ffffff;
}

.footer__info__para {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: pxToVwMobile(14);
  line-height: pxToVwMobile(24);

  color: #ffffff;

  margin-top: 16px;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(14);
    line-height: pxToVwBetweenMobileAndTablet(24);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(16);
    line-height: pxToVwTablet(26);
  }
}

.footer__contact {
  margin-top: 40px;
}

.footer__contact__option {
  display: flex;
  align-items: center;

  gap: 19px;
}

.footer__contact__option:nth-child(2) {
  margin-top: 16px;
}

.footer__contact__option:nth-child(1) svg {
  width: pxToVwMobile(18);
  height: pxToVwMobile(18);

  @media screen and (min-width: 576px) {
    width: pxToVwBetweenMobileAndTablet(18);
    height: pxToVwBetweenMobileAndTablet(18);
  }

  @media screen and (min-width: 768px) {
    width: pxToVwTablet(18);
    height: pxToVwTablet(18);
  }
}

.footer__contact__option:nth-child(2) svg {
  width: pxToVwMobile(20);
  height: pxToVwMobile(16);

  @media screen and (min-width: 576px) {
    width: pxToVwBetweenMobileAndTablet(20);
    height: pxToVwBetweenMobileAndTablet(16);
  }

  @media screen and (min-width: 768px) {
    width: pxToVwTablet(20);
    height: pxToVwTablet(16);
  }
}

.footer__contact__para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: pxToVwMobile(14);
  line-height: pxToVwMobile(24);

  color: #ffffff;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(14);
    line-height: pxToVwBetweenMobileAndTablet(24);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(16);
    line-height: pxToVwTablet(26);
  }
}

.footer__social-media {
  margin-top: 48px;

  display: flex;
  gap: 17px;
}

.footer__social-media svg {
  width: pxToVwMobile(23);
  height: pxToVwMobile(23);

  @media screen and (min-width: 576px) {
    width: pxToVwBetweenMobileAndTablet(23);
    height: pxToVwBetweenMobileAndTablet(23);
  }

  @media screen and (min-width: 768px) {
    width: pxToVwTablet(23);
    height: pxToVwTablet(23);
  }
}
