header {
  height: 24px;
  margin: 24px 24px 0px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin: 78px 63px 0px 80px;
  }
}

.header__logo {
  width: 96px;
  height: 16px;

  @media screen and (min-width: 768px) {
    width: 140px;
    height: 22px;
  }

  @media screen and (min-width: 1200px) {
    width: 240px;
    height: 38px;
  }
}

.header__btn {
  background: #ffffff;
  border: 0.588235px solid #ff52c1;
  box-shadow: 0px 0px 5px rgba(255, 82, 193, 0.218778);
  border-radius: 11.7647px;

  height: 24px;
  width: 80px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 9.41177px;
  line-height: 13px;

  color: #ff52c1;

  transition: box-shadow 0.6s;

  &:hover {
    box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
    color: #ff8ed7;
  }

  @media screen and (min-width: 1200px) {
    width: 136px;
    height: 40px;

    border-radius: 20px;

    font-size: 16px;
    line-height: 22px;
  }
}
