.hero {
  margin: 0 auto;
  margin-top: 112px;
  padding: 0px 39px 0px 40px;

  max-width: 600px;

  @media screen and (min-width: 1200px) {
    max-width: unset;

    padding: 0px 63px 0px 80px;

    margin-top: 225px;
  }
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  text-align: center;

  color: #00252e;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }
}

.hero__p {
  margin-top: 24px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  color: #00252e;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 26px;
  }
}

.hero__btn {
  width: 200px;
  height: 40px;

  border: none;

  background: #ff52c1;
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
  border-radius: 20px;

  font-family: "Open Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;

  color: #ffffff;

  margin-top: 48px;

  // center the button
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    background: #FF8ED7;
  }

  @media screen and (min-width: 1200px) {
    width: 400px;
    height: 80px;
    background: #ff52c1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;

    font-size: 20px;
    line-height: 30px;

    margin-top: 49px;
  }
}

.hero__img {
  display: block;
  margin-top: 102px;

  @media screen and (min-width: 1200px) {
    max-width: 1016px;
    
    margin: 0 auto;
    margin-top: 120px;
  }
}
