@import "functions";

.hero {
  margin: 0 auto;
  margin-top: 112px;
  padding: 0px 39px 0px 40px;

  @media screen and (min-width: 1200px) {
    padding: 0px 63px 0px 80px;

    margin-top: 225px;
  }
}

h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: pxToVwMobile(24);
  line-height: pxToVwMobile(36);

  text-align: center;

  color: #00252e;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(24);
    line-height: pxToVwBetweenMobileAndTablet(36);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(24);
    line-height: pxToVwTablet(36);
  }

  @media screen and (min-width: 992px) {
    font-size: pxToVwDesktop(38);
    line-height: pxToVwDesktop(60);
  }

  @media screen and (min-width: 1200px) {
    font-size: pxToVwBigDesktop(42);
    line-height: pxToVwBigDesktop(68);
  }

  @media screen and (min-width: 1440px) {
    font-size: 48px;
    line-height: 72px;
  }
}

.hero__p {
  margin-top: 24px;

  font-family: "Open Sans";
  font-weight: 400;
  font-size: pxToVwMobile(14);
  line-height: pxToVwMobile(21);

  text-align: center;

  color: #00252e;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(20);
    line-height: pxToVwBetweenMobileAndTablet(30);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(20);
    line-height: pxToVwTablet(30);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 26px;
  }

  @media screen and (min-width: 992px) {
    font-size: pxToVwDesktop(20);
    line-height: pxToVwDesktop(30);
  }

  @media screen and (min-width: 1200px) {
    font-size: pxToVwBigDesktop(20);
    line-height: pxToVwBigDesktop(30);
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.hero__btn {
  width: pxToVwMobile(200);
  height: pxToVwMobile(40);

  border: none;

  background: #ff52c1;
  box-shadow: 0px 3px 7px rgba(0, 37, 46, 0.223053);
  border-radius: pxToVwMobile(20);

  font-family: "Open Sans";
  font-weight: 700;
  font-size: pxToVwMobile(12);
  line-height: pxToVwMobile(18);

  color: #ffffff;

  margin-top: 48px;

  // center the button
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 0.4s;

  &:hover {
    background: #ff8ed7;
  }

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(12);
    line-height: pxToVwBetweenMobileAndTablet(18);
    width: pxToVwBetweenMobileAndTablet(200);
    height: pxToVwBetweenMobileAndTablet(40);
    border-radius: pxToVwBetweenMobileAndTablet(20);
  }

  @media screen and (min-width: 768px) {
    width: pxToVwTablet(200);
    height: pxToVwTablet(40);
    border-radius: pxToVwTablet(20);
    font-size: pxToVwTablet(12);
    line-height: pxToVwTablet(18);
  }

  @media screen and (min-width: 992px) {
    width: pxToVwDesktop(300);
    height: pxToVwDesktop(60);
    border-radius: pxToVwDesktop(30);
    font-size: pxToVwDesktop(16);
    line-height: pxToVwDesktop(26);
  }

  @media screen and (min-width: 1200px) {
    width: pxToVwBigDesktop(400);
    height: pxToVwBigDesktop(80);
    border-radius: pxToVwBigDesktop(40);
    font-size: pxToVwBigDesktop(20);
    line-height: pxToVwBigDesktop(30);
  }

  @media screen and (min-width: 1440px) {
    width: 400px;
    height: 80px;
    background: #ff52c1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;

    font-size: 20px;
    line-height: 30px;

    margin-top: 49px;
  }
}

.hero__img {
  display: block;
  margin-top: 102px;

  @media screen and (min-width: 1200px) {
    max-width: 1016px;

    margin: 0 auto;
    margin-top: 120px;
  }
}

// Analytics part
.hero__numbers {
  margin-top: 120px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.hero__numbers__box {
  max-width: pxToVwMobile(160);
  margin: 0 auto;

  @media screen and (min-width: 576px) {
    max-width: pxToVwBetweenMobileAndTablet(170);
  }

  @media screen and (min-width: 768px) {
    max-width: unset;
    flex: 0 0 pxToVwTablet(190);
  }

  @media screen and (min-width: 992px) {
    flex: 0 0 pxToVwDesktop(190);
  }
}

.hero__numbers__box:nth-child(1) {
  @media screen and (min-width: 1200px) {
    flex: 0 0 pxToVwBigDesktop(252);
  }

  @media screen and (min-width: 1440px) {
    flex: 0 0 252;
  }
}

.hero__numbers__box:nth-child(2) {
  @media screen and (min-width: 1200px) {
    flex: 0 0 pxToVwBigDesktop(287);
  }

  @media screen and (min-width: 1440px) {
    flex: 0 0 287;
  }
}

.hero__numbers__box:nth-child(1) {
  margin-bottom: 88px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.hero__numbers__box > * {
  display: block;
}

.hero__communities-icon {
  width: pxToVwMobile(29);
  height: pxToVwMobile(26);

  position: relative;
  top: 5px;

  @media screen and (min-width: 576px) {
    width: pxToVwBetweenMobileAndTablet(29);
    height: pxToVwBetweenMobileAndTablet(26);
  }

  @media screen and (min-width: 768px) {
    width: pxToVwTablet(29);
    height: pxToVwTablet(26);
  }

  @media screen and (min-width: 992px) {
    width: pxToVwDesktop(29);
    height: pxToVwDesktop(26);
  }

  @media screen and (min-width: 1200px) {
    width: pxToVwBigDesktop(46);
    height: pxToVwBigDesktop(41);
  }

  @media screen and (min-width: 1440px) {
    top: 8px;

    width: 46px;
    height: 41px;
  }
}

.hero__numbers-box__number {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: pxToVwMobile(60.9524);
  line-height: pxToVwMobile(91);

  color: #00252e;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(60.9524);
    line-height: pxToVwBetweenMobileAndTablet(91);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(60.9524);
    line-height: pxToVwTablet(91);
  }

  @media screen and (min-width: 992px) {
    font-size: pxToVwDesktop(60.9524);
    line-height: pxToVwDesktop(91);
  }

  @media screen and (min-width: 1200px) {
    font-size: pxToVwBigDesktop(96);
    line-height: pxToVwBigDesktop(144);
  }

  @media screen and (min-width: 1440px) {
    font-size: 96px;
    line-height: 144px;
  }
}

.hero__numbers-box__para {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: pxToVwMobile(15.2381);
  line-height: pxToVwMobile(23);

  text-align: center;

  color: #808e9a;

  margin-top: 1px;

  @media screen and (min-width: 576px) {
    font-size: pxToVwBetweenMobileAndTablet(15.2381);
    line-height: pxToVwBetweenMobileAndTablet(23);
  }

  @media screen and (min-width: 768px) {
    font-size: pxToVwTablet(15.2381);
    line-height: pxToVwTablet(23);
  }

  @media screen and (min-width: 992px) {
    font-size: pxToVwDesktop(15.2381);
    line-height: pxToVwDesktop(23);
  }

  @media screen and (min-width: 1200px) {
    font-size: pxToVwBigDesktop(24);
    line-height: pxToVwBigDesktop(36);
  }

  @media screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 36px;

    margin-top: 2px;
  }
}

.hero__message-icon {
  width: pxToVwMobile(27);
  height: pxToVwMobile(23);

  position: relative;
  top: 2px;

  @media screen and (min-width: 576px) {
    width: pxToVwBetweenMobileAndTablet(27);
    height: pxToVwBetweenMobileAndTablet(23);
  }

  @media screen and (min-width: 768px) {
    width: pxToVwTablet(27);
    height: pxToVwTablet(23);
  }

  @media screen and (min-width: 992px) {
    width: pxToVwDesktop(27);
    height: pxToVwDesktop(23);
  }

  @media screen and (min-width: 1200px) {
    width: pxToVwBigDesktop(46);
    height: pxToVwBigDesktop(34);
  }

  @media screen and (min-width: 1440px) {
    top: 5px;

    width: 46px;
    height: 34px;
  }
}
